<div class="py-6">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
    <h1 class="text-2xl font-semibold text-gray-900">Profile</h1>
  </div>

  <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
    <div class="py-4">
      <div class="h-96">
        <p><strong>First Name: </strong> {{profile.givenName}}</p>
        <p><strong>Last Name: </strong> {{profile.surname}}</p>
        <p><strong>Email: </strong> {{profile.userPrincipalName}}</p>
        <p><strong>Id: </strong> {{profile.id}}</p>
      </div>
    </div>
  </div>
</div>
