<p>create-job works!</p>
<button (click)="createJob()">Submit Job</button>
  <div>
    <label>Employer: </label>
    <input type="text" [(ngModel)]="job.EmployerName" />
  </div>
  <div>
    <label>Title: </label>
    <input type="text" [(ngModel)]="job.Title" />
  </div>
  <div>
    <label>Description: </label>
    <input type="text" [(ngModel)]="job.Description" />
  </div>
  <div>
    <label>Start Date: </label>
    <input type="date" [(ngModel)]="job.StartDate" />
  </div>
  <!--
    jobId: number;
  employerName: string;
  title: string;
  description: string;
  startDate: Date;
  endDate: Date; -->